<div class="container">
  <div class="slide-container">
    <div>
      <h2 class="slide-title">
        Service provider specialising in the ServiceNow platform.
      </h2>
      <p class="slide-des">
        Founded in 2018, our mission is to provide creative, responsive and
        customer-focused ServiceNow solutions that empower our customers and
        simplify their work through automated business processes.
      </p>
      <button class="slide-btn">Get in touch</button>
    </div>
    <div>
      <img src="../../../assets/office-people.jpg" height="369" alt="" />
    </div>
  </div>
</div>

<div class="container">
  <div class="slide-container" style="align-items: center; padding: 10px">
    <div>
      <img
        src="../../../assets/serviceNow.png"
        width="380"
        alt=""
        style="padding: 50px"
        class="servicenow"
      />
    </div>
    <div>
      <div class="bt-automation">About BT Automation</div>
      <h2 class="partner-title">A premier ServiceNow partner</h2>
      <p class="slide-des">
        BT Automation is a Premier ServiceNow partner specialising in solution
        implementation, custom application design and existing system
        enhancements on the ServiceNow platform, for Commonwealth, state and
        local government, as well as non-government clients. We are proud of our
        delivery of high-quality business outcomes for government and
        non-government clients. Among other successes, we won the 2018 ACT Chief
        Minister's Award for Innovation for our design of their ServiceNow
        Service Portals.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="slide-container">
    <div>
      <div class="bt-automation">What we do</div>
      <h2 class="partner-title">Our services</h2>
      <p class="slide-des">
        We use the ServiceNow certified ‘ServiceNow Implementation Methodology’
        (SIM) to ensure your solution is done right the first time. Our skilled
        consultants will quickly identify your business needs and use that
        understanding to provide maximum value from your ServiceNow platform.
        Our ‘Low Code/No Code’ approach keeps our customers instances in a
        sustainable state, allowing them to take advantage of the latest
        upgrades and features offered by ServiceNow. Our staff are fully
        qualified with the latest ServiceNow Certifications to deliver value to
        your organisation.
      </p>
      <button class="slide-btn">About SIM</button>
      <div>
        <img style="margin-top: 20px"  src="../../../assets/serviceNow-logo.png" alt="">
      </div>
    </div>
    <div>
      <img src="../../../assets/point.jpg" height="369" alt="" />
    </div>
  </div>
</div>
