<div class="container">
  <div class="title">Our clients</div>
  <h1 class="subtitle">Trusted by many companies</h1>
  <p class="des">
    We are proud of our delivery of high-quality business outcomes for
    government and non-government clients, including:
  </p>
  <div class="client-logos">
    <img class="logo" src="../../../assets/pmc.png" alt="" width="158">
    <img class="logo" src="../../../assets/dta_bt_logo.png" alt="" width="158">
    <img class="logo" src="../../../assets/ato.png" alt="" width="158">
    <img class="logo" src="../../../assets/ledios.png" alt="" width="158">
    <img class="logo" src="../../../assets/logo-act2.png" alt="" width="158">
    <img class="logo" src="../../../assets/crcc.png" alt="" width="158">
  </div>
</div>
