<div style="width: 80%; margin-left: 10%">
  <div class="grid">
    <div class="flex">
      <p class="black-font">Company</p>
      <p class="footer-items">BT Automation Pty Ltd</p>
      <p class="footer-items">PO Box 204, Deakin West, ACT 2600 Australia</p>
      <p class="footer-items">ABN 70 619 362 104</p>
      <p class="footer-items">© BT Automation 2020</p>
    </div>
    <div class="flex">
      <p class="black-font">BT Automation Privacy Policy</p>
      <p class="footer-items">Terms & Conditions</p>
    </div>
    <div class="flex">
      <p class="black-font">Contact</p>
      <p class="footer-items">02 6112 4868</p>
      <p class="footer-items">hi@btauromation.com.au</p>
    </div>
  </div>

  <div class="disclaimer">
    BT Automation acknowledges the Australian Aboriginal and Torres Strait
    Islander peoples as the first inhabitants of the nation and the traditional
    custodians of the land where we live, learn, and work.
  </div>
</div>
